body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:230px;
  top:150px;
  width:540px;
  height:300px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:300px;
}
#u3 {
  position:absolute;
  left:2px;
  top:76px;
  width:536px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:395px;
  top:290px;
  width:210px;
  height:40px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:440px;
  top:370px;
  width:120px;
  height:40px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:157px;
  top:660px;
  width:120px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
