body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:350px;
  top:680px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:710px;
  top:680px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:710px;
  top:850px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:840px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:350px;
  top:1160px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:110px;
  top:480px;
  width:320px;
  height:200px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u12_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:340px;
  height:20px;
}
#u12_seg2 {
  position:absolute;
  left:310px;
  top:60px;
  width:20px;
  height:144px;
}
#u13 {
  position:absolute;
  left:140px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:430px;
  top:770px;
  width:0px;
  height:70px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:930px;
  width:0px;
  height:80px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:790px;
  top:770px;
  width:0px;
  height:80px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:710px;
  top:1010px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u21 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:790px;
  top:940px;
  width:0px;
  height:70px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:350px;
  top:1010px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u25 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:430px;
  top:1100px;
  width:0px;
  height:60px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:510px;
  top:725px;
  width:200px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:214px;
  height:20px;
}
#u29 {
  position:absolute;
  left:50px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:210px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:110px;
  top:110px;
  width:0px;
  height:100px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:114px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:390px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:680px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u37 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:110px;
  top:480px;
  width:0px;
  height:200px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:214px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:87px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:770px;
  width:240px;
  height:285px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:299px;
}
#u40_seg1 {
  position:absolute;
  left:-10px;
  top:275px;
  width:254px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-50px;
  top:254px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:110px;
  top:300px;
  width:0px;
  height:90px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:870px;
  top:1055px;
  width:-680px;
  height:-620px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:144px;
  height:20px;
}
#u44_seg1 {
  position:absolute;
  left:120px;
  top:-630px;
  width:20px;
  height:640px;
}
#u44_seg2 {
  position:absolute;
  left:-684px;
  top:-630px;
  width:824px;
  height:20px;
}
#u45 {
  position:absolute;
  left:50px;
  top:-633px;
  width:100px;
  word-wrap:break-word;
}
