body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:50px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:190px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:340px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:490px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:430px;
  top:340px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:490px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:640px;
  width:120px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:270px;
  top:120px;
  width:0px;
  height:70px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:260px;
  width:0px;
  height:80px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:270px;
  top:410px;
  width:0px;
  height:80px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:270px;
  top:560px;
  width:0px;
  height:80px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:330px;
  top:375px;
  width:100px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:330px;
  top:525px;
  width:100px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
