body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:60px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:270px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:650px;
  top:270px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:650px;
  top:440px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:430px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:750px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:150px;
  width:0px;
  height:120px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:134px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:250px;
  top:360px;
  width:0px;
  height:70px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:520px;
  width:0px;
  height:80px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:330px;
  top:315px;
  width:70px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-15px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:730px;
  top:360px;
  width:0px;
  height:80px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:650px;
  top:600px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:730px;
  top:530px;
  width:0px;
  height:70px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:810px;
  top:645px;
  width:-560px;
  height:-375px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:60px;
  top:-445px;
  width:20px;
  height:455px;
}
#u26_seg2 {
  position:absolute;
  left:-570px;
  top:-445px;
  width:650px;
  height:20px;
}
#u26_seg3 {
  position:absolute;
  left:-570px;
  top:-445px;
  width:20px;
  height:74px;
}
#u27 {
  position:absolute;
  left:-72px;
  top:-442px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:400px;
  top:270px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u29 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:600px;
  width:160px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:250px;
  top:690px;
  width:0px;
  height:60px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:560px;
  top:315px;
  width:90px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:104px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
